# Virtual IP manage Service 
[Unit]
Description= Virtual IP Manager service for master-slave db clusters
After=syslog.target
fter=network-online.target
[Service]
Type=simple

## Configuration file
Environment=VIPMASTER_FILE=/opt/vipmaster/vipmaster.py

## Disable OOM kill on the postmaster
OOMScoreAdjust=-1000

ExecStart=/usr/bin/python ${VIPMASTER_FILE} start
ExecStop=/usr/bin/python ${VIPMASTER_FILE} stop

## Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=30
TimeoutStopSec=120s

## kill the vipmaster process for stop
KillSignal=SIGINT
KillMode=process

[Install]
 WantedBy=multi-user.target